tmp/
/assignment.synctex.gz
/assignment1.aux
/assignment1.pdf
/assignment1.synctex.gz
/assignment2.pdf
/assignment2.synctex.gz
/assignment2.dvi
/assignment3.aux
/assignment3.lof
/assignment3.run.xml
/assignment3.toc
/assignment3.pdf
/assignment3.synctex.gz
